<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <img src="app/shared/images/Logo.png" style="width: 114px; height: 57px;">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#home"><span translate="nav_home"></span></a>
        </li>
        <li>
          <a href="#about-us"><span translate="nav_aboutus"></span></a>
        </li>
        <li>
          <a href="#mission-and-vision"><span translate="nav_missionandvision"></span></a>
        </li>
        <li>
          <a href="#team"><span translate="nav_team"></span></a>
        </li>
        <li>
          <a href="#seasons"><span translate="nav_seasons"></span></a>
        </li>
        <li>
          <a href="#our-products"><span translate="nav_ourproducts"></span></a>
        </li>
        <li>
          <a href="#gallery"><span translate="nav_gallery"></span></a>
        </li>
        <li>
          <a href="#contact-us"><span translate="nav_contact"></span></a>
        </li>
        <li>
          <a (click)="switchLang('es')"> <img src="app/shared/images/mx.gif" width="35" height="20"> </a>
        </li>
        <li>
          <a (click)="switchLang('en')"> <img src="app/shared/images/us.png" width="35" height="20"> </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
