<section id="mission-and-vision" class="parallax">
  <div class="container">
    <div class="row">
      <div class="text-center col-sm-6">
        <h2><span translate="title_mission"></span></h2>
        <hr>
        <ul class="mission-list">
          <li><i class="fa fa-check"></i> <span translate="bullet_mission_1"></span></li>
          <li><i class="fa fa-check"></i> <span translate="bullet_mission_2"></span></li>
          <li><i class="fa fa-check"></i> <span translate="bullet_mission_3"></span></li>
          <li><i class="fa fa-check"></i> <span translate="bullet_mission_4"></span></li>
        </ul>
      </div>
      <div class="text-center col-sm-6">
        <h2><span translate="title_vision"></span></h2>
        <hr>
        <p></p>
        <ul class="vision-list">
          <li><i class="fa fa-check"></i> <span translate="bullet_vision_1"></span></li>
          <li><i class="fa fa-check"></i> <span translate="bullet_vision_2"></span></li>
          <li><i class="fa fa-check"></i> <span translate="bullet_vision_3"></span></li>
          <li><i class="fa fa-check"></i> <span translate="bullet_vision_4"></span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
