<section id="seasons" class="parallax">
  <div class="container">
    <div class="heading">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h2><span translate="title_seasons"></span></h2>
          <hr>
          <p><span translate="paragraph_seasons_1"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered season-table">
                <thead>
                <tr class="info">
                  <th colspan="12" class="season-row" ><span translate="table_seasons_1_title"></span></th>
                </tr>
                <tr>
                  <th><span translate="january_seasons"></span></th>
                  <th><span translate="february_seasons"></span></th>
                  <th><span translate="march_seasons"></span></th>
                  <th><span translate="april_seasons"></span></th>
                  <th><span translate="may_seasons"></span></th>
                  <th><span translate="june_seasons"></span></th>
                  <th><span translate="july_seasons"></span></th>
                  <th><span translate="august_seasons"></span></th>
                  <th><span translate="september_seasons"></span></th>
                  <th><span translate="october_seasons"></span></th>
                  <th><span translate="november_seasons"></span></th>
                  <th><span translate="december_seasons"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td colspan="7" class="success season-row"><span translate="only_seasons"></span></td>
                  <td colspan="4"></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered season-table table-responsive">
                <thead>
                <tr class="info">
                  <th colspan="12" class="season-row"><span translate="table_seasons_2_title"></span></th>
                </tr>
                <tr>
                  <th><span translate="january_seasons"></span></th>
                  <th><span translate="february_seasons"></span></th>
                  <th><span translate="march_seasons"></span></th>
                  <th><span translate="april_seasons"></span></th>
                  <th><span translate="may_seasons"></span></th>
                  <th><span translate="june_seasons"></span></th>
                  <th><span translate="july_seasons"></span></th>
                  <th><span translate="august_seasons"></span></th>
                  <th><span translate="september_seasons"></span></th>
                  <th><span translate="october_seasons"></span></th>
                  <th><span translate="november_seasons"></span></th>
                  <th><span translate="december_seasons"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td colspan="12" class="success season-row"><span translate="all_year_seasons"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered season-table table-responsive">
                <thead>
                <tr class="info">
                  <th colspan="12" class="season-row"><span translate="table_seasons_3_title"></span></th>
                </tr>
                <tr>
                  <th><span translate="january_seasons"></span></th>
                  <th><span translate="february_seasons"></span></th>
                  <th><span translate="march_seasons"></span></th>
                  <th><span translate="april_seasons"></span></th>
                  <th><span translate="may_seasons"></span></th>
                  <th><span translate="june_seasons"></span></th>
                  <th><span translate="july_seasons"></span></th>
                  <th><span translate="august_seasons"></span></th>
                  <th><span translate="september_seasons"></span></th>
                  <th><span translate="october_seasons"></span></th>
                  <th><span translate="november_seasons"></span></th>
                  <th><span translate="december_seasons"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td colspan="12" class="success season-row"><span translate="all_year_seasons"></span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
