<section id="about-us">
  <div class="container">
    <div class="heading">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h2><span translate="title_aboutus"></span></h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p class="p-about"><span translate="paragraph_aboutus_1"></span></p>
              <p class="p-about"><span translate="paragraph_aboutus_2"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
</section>
